@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  background-color: rgb(50, 41, 50);
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-horizontal {
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(51, 138, 128, 0.5);
  border-radius: 10px;
}

.task::-webkit-scrollbar-thumb {
  background: rgba(67, 128, 152, 0.5);
}
